{% extends 'base/base.html' %}

{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
    {{ error_message }}
{% endif %}

{% if question.answer_set.exists %}
    <form method="post" action="{% url 'polls:vote' question.id %}" id="my_form">
        {% csrf_token %}
        <ul>
            {% for answer in question.answer_set.all %}
                <li>
                    <input type="radio" id="answer_{{ answer.id }}" name="answer_id" value="{{ answer.id }}">
                    <label for="answer_{{ answer.id }}">{{ answer.choice_text }}</label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" form="my_form" value="Submit">Submit</button>
    </form>
{% else %}
    <p>
        No answers for question
    </p>
{% endif %}

{% endblock content %}
