{% extends 'base/base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Details</li>
{% endblock %}

{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

{% if question.answer_set.exists %}
    <form method="post" action="{% url 'polls:vote' question.id %}" id="my_form">
        {% csrf_token %}
        <ul class="list-group mb-3">
            {% for answer in question.answer_set.all %}
                <li class="list-group-item">
                    <input type="radio" id="answer_{{ answer.id }}" name="answer_id" value="{{ answer.id }}">
                    <label for="answer_{{ answer.id }}">{{ answer.choice_text }}</label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" form="my_form" value="Submit" class="btn btn-success">Submit</button>
    </form>
{% else %}
    <p>
        No answers for question
    </p>
{% endif %}

{% endblock content %}
