<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Polls app</title>
</head>
<body>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/polls">Home</a></li>
    {% block breadcrumb %}
    {% endblock %}
  </ol>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Polls app!</h1>
  <p class="lead">Django official tutorial app</p>
</div>


<div class="container">
{% block content %}
{% endblock content %}
</div>
</body>
</html>
